@import "~antd/dist/antd.css";

.App {
  text-align: center;
  min-height: 90h;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1vh;
}

.eachComp {
  height: 42vh;
  width: 49%;
  margin: 1vh;
}

.heading {
  font-size: large;
  line-height: normal;
  padding: 2vh 5%;
  color: white;
  background-color: #1890ff; /* fallback for old browsers */
  

  height: 10vh;
}

